{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
  About me
{% endblock %}


{% block body %}
  <h1>User info</h1>
  <div>
    Products available: {% now 'u' %}
  </div>
  {% if user.is_authenticated %}
    {% cache 300 userinfo user.username%}
      <h2>Detail</h2>
      <p>Username: {{ user.username }}</p>
      <p>First name: {{ user.first_name }}</p>
      <p>Last name: {{ user.last_name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Bio: {{ user.bio }}</p>
    {% endcache %}
    <h3>Avatar</h3>
      <div>
        {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="{{ user.avatar.name }}">
        {% else %}
          <div>No avatar yet</div>
        <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update avatar</button>
        </form>
        </div>
        {% endif %}
      </div>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
{% endblock %}
